.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 0fr; 
}                       
header{
    background-color: rgba(255, 217, 0, 0.911);
    grid-column: 1 / 5;
    grid-row: 1 / 2;

}
ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly ;
    text-align: center;
    list-style: none;
}
li{
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
    /*border: 2px solid black;*/
}
a{
    text-decoration: none;
}

footer{
    /*background-color: darkorchid;*/
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    border-style:ridge;
    text-align: center;
    height: min-content;
    text-decoration: none;
}




.piepag{
    display: flex; 
    justify-content: center;
    align-items: center;
   
}
.linst, .lface, .lwapp{
    display: flex;
    align-items: center;
    height: min-content;
}

p{
    color: green;
}
table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}